
.header {
	height: 40px;
	padding: 10px 10px 10px 10px;
}

/*bu { // margin　順番 上、右、下、左 // margin　箱や壁との間隔を空ける // padding　文字との間隔を空ける
	height:5px;
	width: 40px;
	border: 2px solid;

	padding: 30px 0px 0px 5px;
}*/

.main1 {
	height: 250px;
	display: flex;
	margin-left:20%;
}

.pic {
	height: 150;
	width: 150;
	margin-right: 10%;
}

.pro {
	height: 150px;
	width: 400px;
	padding: 35px 20px 20px 0px;
}

.pro2 {
	width: 500;
	height: 20;
	margin-bottom: 50px;
	display: flex;
}

.name {
	height: 20;
	width: 120;
	display: flex;
}

.pos {

}

.day {
	height: 20;
	width: 103;
	display: flex;
}

.teku {

}

.main2 {
	height: 80;
	padding: 1px 0px 0px 330px;
	margin-bottom: 40px;
	text-align: center;
}

.hobyy {
	height: 20;
	width: 60;
}

.ss {
	height: 20;
	width: 60;
}


.int {
	text-algn:left;
	padding-left: 40px;
}

.int2 {
	margin: 5px 0px 0px 70px;
}

.pro3 {
	display: flex;
	padding-bottom: 40px;
}