body {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 40px;
	padding: 10px 10px 10px 825px;
}

/*bu { // margin　順番 上、右、下、左 // margin　箱や壁との間隔を空ける // padding　文字との間隔を空ける
	height:5px;
	width: 40px;
	border: 2px solid;

	padding: 30px 0px 0px 5px;
}*/

.main1 {
	height: 250px;
	padding: 20px 20px 20px 200px;
	display: flex;
}

.pic {
	height: 200;
	width: 200;
	border: 2px solid;
	margin: 20px 100px 20px 20px;
	//
	画像のURLを張り付ける
}

.pro {
	height: 200;
	width: 500;
	padding: 35px 20px 20px 0px;
}

.pro2 {
	width: 500;
	height: 20;
	margin-bottom: 50px;
	display: flex;
}

.name {
	height: 20;
	width: 120;
	display: flex;
}

.pos {
	height: 20;
	width: 110;
	margin-left: 50;
	display: flex;
}

.day {
	height: 20;
	width: 103;
	display: flex;
}

.teku {
	height: 20;
	width: 103;
	display: flex;
}

.main2 {
	height: 80;
	padding: 1px 0px 0px 330px;
	margin-bottom: 40px;
}

.hobyy {
	height: 20;
	width: 60;
}

.ss {
	height: 20;
	width: 60;
}

.bottom {
	height: 208;
	padding: 5px 0px 0px 260px;
}

.int {
	height: 20;
	width: 100;
	padding-left: 40px;
}

.int2 {
	margin: 5px 0px 0px 70px;
}

.pro3 {
	display: flex;
	padding-bottom: 40px;
}