<!DOCTYPE html>
<html lang="ja">
<head>
<title></title>
<style type="text/css">
div.tabbox {
margin: 0px; padding: 0px; width: 400px;
}

/* タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
display: block; width: 5em; float: left;
margin: 0px 1px 0px 0px; padding: 3px;
text-align: center;
}
p.tabs a.tab1 { background-color: blue; color: white; }
p.tabs a.tab2 { background-color: #aaaa00; color:white;}
p.tabs a.tab3 { background-color: red; color: white; }
p.tabs a:hover { color: yellow; }


/* タブ中身のボックス */
div.details { border-collapse: collapse; width: 50%;}
div.tab { height: 150px; overflow: auto; clear: left; }
div#tab1 {
border: 2px solid blue; background-color: #ccffff;
}
div#tab2 {
border: 2px solid #aaaa00; background-color: #ffffcc;
}
div#tab3 {
border: 2px solid red; background-color: #ffcccc;
}
div.tab p { margin: 0.5em; }
table { border-collapse: collapse; width: 70%;}
td { border: solid 1px #000; }
</style>
<script type="text/javascript"><!--
function ChangeTab(tabname) {
// 全部消す
document.getElementById('tab1').style.display = 'none';
document.getElementById('tab2').style.display = 'none';
document.getElementById('tab3').style.display = 'none';
// 指定箇所のみ表示
document.getElementById(tabname).style.display = 'block';
}
// --></script>
/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(50%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}