/*繧ｿ繝門�繧頑崛縺亥�ｨ菴薙�ｮ繧ｹ繧ｿ繧､繝ｫ*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*繧ｿ繝悶�ｮ繧ｹ繧ｿ繧､繝ｫ*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*繝ｩ繧ｸ繧ｪ繝懊ち繝ｳ繧貞�ｨ縺ｦ豸医☆*/
input[name="tab_item"] {
  display: none;
}

/*繧ｿ繝門�繧頑崛縺医�ｮ荳ｭ霄ｫ縺ｮ繧ｹ繧ｿ繧､繝ｫ*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*驕ｸ謚槭＆繧後※縺�繧九ち繝悶�ｮ繧ｳ繝ｳ繝�繝ｳ繝�縺ｮ縺ｿ繧定｡ｨ遉ｺ*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: none;
}

/*驕ｸ謚槭＆繧後※縺�繧九ち繝悶�ｮ繧ｹ繧ｿ繧､繝ｫ繧貞､峨∴繧�*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
.all .programming .design .2F{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.cssacc:checked + .all .programming .design {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}

.all .programming .design {
	cursor: pinter;
}

.all .programming .design {
	border: 2px solid #d685b0;
	border-radius: .3em;
	height: 200px;
}

.action-close {
	position: relative;
	margin-top: 2em;
}

.action-close .all .programming .design {
	position: absolute;
	right: 0;
	top: -1em;
}

.action-close .all .programming .design {
	margin-bottom: 2em;
	border: 2px solid rgb(127,194,239);
}

.add-control .checkbox{
	display: none;
}

.add-control .checkbox{
	display: none;
}

.add-control .action-close {
	display: none;
}
}